:root {
  font-family: arial, sans-serif;
  user-select: none;
  --form-color: #dde8ed;
}

input,
textarea {
  border: solid 1px;
  outline: none;
  padding: 0.5rem;
}

input[type="number"] {
  padding: 0.25rem;
}

button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #1f83bf;
  color: white;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: 700;
  border-radius: 5px;
}
button:hover {
  background-color: #1f83bfdd;
}

header {
  display: flex;
  align-items: center;
  border-bottom: solid 2px;
  padding-bottom: 10px;
  min-width: 600px;
}
header .header {
  margin: 5px 0px;
  font-size: 40px;
}
header img {
  margin: 0px 20px 0px 5px;
}

main {
  display: flex;
}

.side-panel {
  width: 25vw;
  height: 100vh;
  min-width: 150px;
}
.side-panel-header {
  margin: 5px 0px 0px 5px;
}
.project-item {
  display: flex;
  margin-bottom: 8px;
}
.project-name {
  cursor: pointer;
  user-select: none;
  margin: 0px;
}

.task-container {
  width: 75vw;
  height: 100%;
  min-width: 450px;
  border-left: solid 2px;
}
.project-header {
  margin: 5px 0px 15px 5px;
}
.task-name,
.task-info,
.task-due,
.delete-icon {
  margin: 0px 5px;
}
.check-box {
  margin: 0px 5px 0px 20px;
}
.task-info {
  /* border: solid 1px; */
  padding: 0.1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8rem;
}
.task-info:hover {
  background-color: #ddd;
}
.task-due {
  min-width: 120px;
  font-size: 0.8rem;
}
.delete-icon {
  margin: 0px 15px;
}
.task-card {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
  border: solid 2px;
  border-radius: 8px;
}
.check-circle {
  width: 20px;
  height: 20px;
  border: solid 1px;
  border-radius: 50px;
  cursor: pointer;
}
.task-name {
  margin-right: auto;
}
.task-info {
  cursor: pointer;
}
.info-display {
  position: fixed;
  background-color: var(--form-color);
  visibility: hidden;
  border: solid 2px;
  border-radius: 8px;
  padding: 15px;
  margin: auto;
  width: 200px;
  min-height: 100px;
}
.info-display h4 {
  margin: 0px 0px 15px 0px;
  padding-bottom: 5px;
  border-bottom: solid 1px;
}
.info-display div {
  white-space: pre-line;
  overflow-wrap: break-word;
}
.close-info {
  margin-top: 10px;
}
.delete-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.delete-icon:hover {
  fill: orange;
}

.add-btn {
  color: green;
  font-size: 40px;
  text-align: center;
  width: 50px;
}
.add-btn:hover {
  color: orange;
}

#add-project-btn {
  cursor: pointer;
  user-select: none;
}
.project-form {
  visibility: hidden;
  background-color: var(--form-color);
  position: fixed;
  left: 200px;
  top: 100px;
  border: solid 2px;
  border-radius: 12px;
  padding: 5px 10px;
}
.project-form label {
  margin-right: 10px;
}
.project-form h4 {
  margin: 0;
  padding: 5px 5px 10px 5px;
  border-bottom: solid 1px;
}
.form-group {
  margin: 25px 0px;
  padding: 5px 5px;
}
.btn-group {
  padding: 5px 5px;
}

#add-task-btn {
  cursor: pointer;
  user-select: none;
}
.task-form {
  visibility: hidden;
  background-color: var(--form-color);
  position: fixed;
  right: 200px;
  top: 100px;
  border: solid 2px;
  border-radius: 12px;
  padding: 0 1rem;
}
.form-btn-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.task-form input {
  margin: 2px 0px 4px 0px;
}
.task-form h4 {
  border-bottom: solid 1px;
  padding-bottom: 5px;
  margin: 10px 0px;
}
.task-form textarea {
  resize: none;
}
.form-group-task {
  display: flex;
  flex-direction: column;
}
.date-group {
  display: flex;
  width: 200px;
}
.date-input {
  width: 30%;
}
.task-btn-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
